* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/736x/72/2b/61/722b612a758864628adf22ca9e1786f8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .sbt {
  border: none;
  background-color: rgb(89, 25, 25);
}